.app-panel {
  position: absolute;
  padding: 6px;
  background-color: #f7f7f7;
  width: 1024px;
  top: 60px;
  left: 10px;
  z-index: 100;
}

.app-panel textarea {
    resize: none;
}

.app-panel table {
    border-style: hidden;
}

.app-panel td {
    border-style: hidden;
}

#qrPanel {
    top: 80px;
    left: 10px;
    width: 540px;
    height: 340px;
}

#qrImagePanel {
    top: 80px;
    left: 560px;
    width: 690px;
    height: 680px;
}

#qrImage {
    width: 95%;
}

/* Global variables */

:root {
	--color-light-gray: hsl(220, 10%, 85%);
	--color-red: hsl(0, 80%, 48%);
	--color-yellow: gold;
	--color-green: hsl(85, 90%, 37%);
	--color-orange: hsl(30, 100%, 50%);
	--color-blue: hsl(210, 80%, 45%);
	--color-purple: purple;

	--top-bar-height: 80px;
}

html {
	margin: 0;
	padding: 0;
	overflow-y:scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /*padding-top:30px;*/
    background-color: #CFCFCF;

}

textarea {
	width: 100%;
}

/***************************
Top Navigation Bar
****************************/

.topNav {
	margin: 0;
	padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--top-bar-height);
  z-index: 1000;
}

.topTitle {
    width: 100%;
    background-color: #04478d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
