.QRImagePanel {
    padding: 6px;
    background-color: #f7f7f7;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 100;
}

.QRImage {
    width: 100%;
}


@media (min-width: 900px) {
    .QRImagePanel {
        margin: 6px;
        margin-bottom: 20px;
        width: 150%;
    }
}